.container {
  width: auto;
  min-height: 100vh;
  background: #0a0f1a;
  display: flex;
  flex-direction: column;
  position: relative;

  /* Réserve l'espace du header & footer */
  padding-top: 65px;       // hauteur du header
}
.container {
  overflow-x: hidden;
}

