.card {
  background: #132635;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 18px;
}

.h2 {
  margin-bottom: 10px;
}

.carImg {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.damageList {
  p {
    margin: 5px 0;
    font-size: 14px;
  }
}

.green { color: #00da59; }
.yellow { color: #ffce3b; }
.red { color: #e64545; }
