.card {
  background: #132635;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 18px;
}

.damageList p {
  margin: 6px 0;
  font-size: 14px;
}

.red   { color: #ff4d4d; }
.yellow { color: #ffd048; }
.green { color: #00da59; }

.color {
  color: var(--color);
}
