.field {
  display: flex;
  flex-direction: column;
  width: 100%;


  p {
    color: white;
    margin-bottom: 8px;
    font-size: 1rem;
  }


  input {
    background: #182634;
    border: 1px solid #314d68;
    color: white;
    padding: 14px;
    border-radius: 10px;
    font-size: 1rem;
    transition: 0.2s;


    &:focus {
      border-color: #0d7ff2;
      box-shadow: 0 0 0 2px rgba(13, 127, 242, 0.3);
      outline: none;
    }


    &::placeholder {
      color: #90adcb;
    }
  }
}