.burger {
  width: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 20;

  span {
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: 0.3s ease;
  }
}
