.card {
  background: #132635;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 18px;
}

.line {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;

  p {
    color: #8aa5c4;
  }
}

.bad strong {
  color: #ff5b5b;
}
