.container {}

.sectors {
  display: flex;
  gap: 15px;
}

.sector {
  flex: 1;
  background: #102333;
  padding: 15px;
  text-align: center;
  border-radius: 12px;
}

.time {
  font-size: 1.3rem;
  font-weight: bold;
}

.green { color: #00ff92; }
.yellow { color: #ffd000; }
.purple { color: #bb6cff; }
