.card {
  background: #132635;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 18px;
}

.fuelBox {
  margin-bottom: 12px;

  p {
    margin: 3px 0;
  }
}

.barSection {
  margin-top: 10px;
}

.barBg {
  width: 100%;
  height: 8px;
  background: #0d1f2b;
  border-radius: 50px;
}

.fill {
  height: 100%;
  border-radius: 50px;
}

.ers {
  background: #3b8cff;
  width: 88%;
}

.percent {
  margin-top: 4px;
  font-size: 12px;
  color: #8aa5c4;
}
