.map {
  position: relative;
  background: #0a1823;
  height: 250px;
  border-radius: 14px;
}

.car {
  position: absolute;
  font-size: 0.7rem;
  background: #0d7ff2;
  padding: 4px;
  border-radius: 50%;
}
