.dashboard {
  width: 100%;
  min-height: 100vh;
  background: #0c1a24;
  color: #d8e9ff;
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 70px 18px 20px 18px;
  flex: 1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 18px;
}

/* Wrapper autour de chaque composant */
.cardWrapper {
  background: #132635;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

/* Les grosses cartes (comme Damage Model) */
.full {
  grid-column: 1 / -1;
}
