.dashboard {
  width: auto;
  min-height: 100vh;
  background: #0c1a24;
  color: #d8e9ff;
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 70px 0px 0px 0px;
  flex: 1;
}

/* ───────── Cards ───────── */

.card {
  background: #132635;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 18px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.35);
}

/* ───────── Header ───────── */

.header {
  background: #0f2130;
  padding: 14px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #1c3142;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

  h1 {
    font-size: 20px;
    font-weight: 600;
  }

  .menu {
    font-size: 20px;
    cursor: pointer;
  }
}

/* ───────── Footer ───────── */

.footer {
  background: #0f2130;
  padding: 12px;
  text-align: center;
  font-size: 12px;
  color: #7da3c2;
  border-top: 1px solid #1c3142;
}
