.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}


.loginBtn {
  background: #0d7ff2;
  color: white;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  transition: 0.2s;


  &:hover {
    background: #0b6ed3;
  }


  &:disabled {
    background: #1e2630;
    cursor: not-allowed;
  }
}


.registerBtn {
  background: rgba(13, 127, 242, 0.2);
  color: #0d7ff2;
  border: 1px solid rgba(13, 127, 242, 0.5);
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s;


  &:hover {
    background: rgba(13, 127, 242, 0.3);
  }
}

.errorBadge {
  color: #ff4d4f;               // rouge vif pour attirer l’œil
  background: rgba(255, 77, 79, 0.1); // fond léger
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 0.85rem;
  margin-top: -10px; // pour coller légèrement à l'input
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
}
